@font-face {
  font-family: "Font-pizza";
  src: url(../font/italian_horskey/Italian\ Horskey\ Script\ Demo.otf);
}
@font-face {
  font-family: "Font-regular-text";
  src: url(../font/cinzel/CinzelDecorative-Regular.otf);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  display: grid;
  grid-template-rows: 15% 80% 5%;
  height: 100vh;
  background-image: url(../img/pexels-vinicius-benedit-1082343.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header button {
  text-align: center;
  margin: 3px;
  font-family: "Font-regular-text";
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
}

.main {
  display: flex;
  align-items: center;
}

.brand {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#brandTitle {
  font-size: 4rem;
  font-family: "Font-pizza";
}

#brandSlogan {
  font-family: "Font-regular-text";
  font-size: 1.5rem;
  font-weight: 600;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Font-regular-text";
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer img {
  height: 30px;
  filter: brightness(0) invert(1);
}

.footer a {
  text-decoration: none;
  color: white;
}
